doctype html
html(lang="en")
    head
        title Chat Room | Random Room
        link(rel="stylesheet" href="/css/lobby.css" type="text/css")
        link(rel="stylesheet" href="/css/toolbar.css" type="text/css")
        link(rel="stylesheet" href="/css/app.css" type="text/css")
        link(rel="stylesheet" href="/css/register.css" type="text/css")
        link(rel="stylesheet" href="/css/login.css" type="text/css")
        link(rel="stylesheet" href="/css/room.css" type="text/css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css")
        link(href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet")
        script(src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
    body
